@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Tomorrow", sans-serif;

}

html, body {
    height: 100%;
    
}

body {
  background-image: url('images/fundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffff;
  text-align: center;
  
}

.fundo{
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;

}

.botao{
    width: 50px;
    height: 50px;
    font-size: 15;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #ffff;
    font-weight: bold;
    margin: 2px;
}

.botao:hover{
    background-color: black ;
}

#resultado{
    width: 207px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: clamp(14px, 3vw, 25px);
    font-weight: bold;
    text-align: right;
    padding: 5px;
    color: black;
    overflow: hidden;      
    white-space: nowrap;   
    

}